*.pyc
*.html
*.pyd
lib/build/
lib/cython_debug/
*.so
resources/out/
lib/IBD/GenotypeModel.cpp
lib/IBD/WindowedModel.cpp
lib/err.valgrind
lib/out.valgrind
resources/out.32.54.genos.dat
resources/out.cmdlog
resources/out.ibdadmixed.txt
resources/out.lodscores.txt
scripts/out.ibdadmixed.txt
scripts/out.lodscores.txt
scripts/runIBDAdmixedCondor.py_OLD
tests/stats.txt
lib/IBD/GeneticMap.cpp
lib/IBD/GenotypePairModel.cpp
lib/IBD/IBDSegments.cpp
lib/IBD/InnerModel.cpp
lib/IBD/IntervalTree.cpp
lib/IBD/LDModel.cpp
lib/IBD/TestSet.cpp
lib/utils/FoundersContainer.cpp
lib/utils/StringUtils.cpp
resources/ceu.ibdadmixed.txt.stats.txt
resources/ceu.trueibd.txt.stats.txt
resources/output.ibdadmixed.txt.stats.txt
resources/HapMap3_CEU_chr2.lamp.dat
resources/HapMap3_CEU_chr2.lamp.phased.dat
resources/HapMap3_CEU_chr2.lamp.unphased.dat
resources/HapMap3_CEU_chr2.pos
.idea/workspace.xml
