# configuration file for program /home/eskin/git/ibdadmixed/scripts/loadHapMap3.py
# Configuration saved at at  Sun Jul 21 19:45:35 2013

# label:	Destination directory
# description:
#	A directory to save HapMap data in simuPOP format.
dest = '/home/eskin/Data/IBDAdmixed'

# label:	Chromosomes to download
# description:
#	Which chromosomes to download and process
chroms = '[1]'


#The same options can be given by command line options (subject to minor changes)
#    --gui=False  --dest='/home/eskin/Data/IBDAdmixed' --chroms='[1]'


#Or a shorter version if default arguments are ignored
#    --gui=False  --dest='/home/eskin/Data/IBDAdmixed' --chroms='[1]'
